
body
{background-image: url("/images/Hiver.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding: 0 auto;
width:100%;
}

/* ---------------------------------------------------------   Navigation onglet --------------------------------------------- */

nav 


{visibility: hidden;
position: fixed;
  width: 100%;
    display : flex;
flex-wrap: wrap;
padding-top: 0px;
border-bottom: 1px black solid;
background-color: white;
box-shadow:0 0 0.5em black, 0 0 5em black, 0 0 0.5em black; 
}

nav h2

{display:flex; 
    margin: auto;
    font-size: 40px;
}

nav .onglet

 { display: flex;
    margin : auto;
    justify-content: center;
    align-items: center;
font-size: 1.5vw;
width:80%
}


 

nav .onglet a  

{text-decoration: none ;
font-family: "Architects";
color: black;
text-decoration: none;
  padding : 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin : 10px;
  background-color: white;
}

nav .onglet a:hover  

{transform: scale(1.05);
}
nav .objet

{font-size: 20px;
padding : 5px;
padding-right: 10px;
padding-left: 10px;
padding-top: 15px;
margin : 5px;
margin-right : 20px;
color: black;
border: 1px black solid
}

nav .objet:hover
{transform: scale(1.05);
}


/* ---------------------------------------------------------   onglet panier pour l'ajout du nombre de produit---------------------------------------- */

h1{
       position: relative;
    cursor: pointer;
    padding-top: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
h1:before{
    content: attr(data-count);
    position: absolute;
    right: 16px;
    font-size: 15px;
    text-align: center;
    top: -12px;
    background: red;
    border-radius: 50%;
    opacity: 0;
    width: 20px;
    height: 20px;
    border: 1px black solid;
    color: white
}
h1.zero:before{
    opacity: 1;
}

/* ---------------------------------------------------------   ensemble de texte de la page d'acceuil --------------------------------------------- */
.debut

{margin : 0 auto ;
    text-align: center;
color: #ffffff;
padding-top: 100px;}
/* ---------------------------------------------------------   titre principal de la page d'acceuil --------------------------------------------- */
.principal

{font-size: 80px ;
    color: white; text-shadow: 
    black 0.2em 0.2em 0.2em;
margin-bottom: -30px;}
/* ---------------------------------------------------------   deuxieme titre de la page d'acceuil --------------------------------------------- */

.paradis

{font-size : 30px;
    color: white;
     text-shadow: black 0.2em 0.2em 0.3em;
    margin-bottom: 20px;}

    /* ---------------------------------------------------------   bouton de la page d'acceuil --------------------------------------------- */

.error{display:flex;
    align-items: center;
    font-size: 1vw;
    flex-direction: column;
    padding-top:200px;
    margin : 0 auto;
    width:100%;
    height:100%;
   border-radius:30px;
   margin-bottom: 500px   ;
}  

.error_link{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:50%;
    height:50vh;
    border-radius: 30px;
    background-color : rgba(192, 192, 192, 0.52);
    box-shadow:0 0 0.5em black, 0 0 5em black, 0 0 0.5em black; 
}



.error h1{color:black;
margin-bottom:20px;
font-family: sans-serif;}

.error a {color : black;
font-family: sans-serif;
padding:15px}

.error a:hover{
    color:red
}


.decouvrir

{background-color: transparent;
    box-shadow:0 0 0.5em black, 0 0 5em black, 0 0 0.5em black; 
border-radius : 150px;
padding:10px;
width: 250px;
font-size: 30px;
color : white;
border : 1px black solid;
font-family: 'Architects Daughter', cursive;
cursor: pointer;
}

.decouvrir:hover

{transform: scale(1.08);
    font-weight: bold;
}



/* ---------------------------------------------------------   l'ensemble des offres --------------------------------------------- */

.main 

{color: black;
    display : flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;



}

a {text-decoration: none;}


/* ---------------------------------------------------------   titre de l'ensemble des cartes (nos offres) --------------------------------------------- */
.offres

{width:100%;
    text-align:center;
    color : white;
    text-shadow: black 0.2em 0.2em 0.3em;
   padding-top: 200px;
}

/* ---------------------------------------------------------   l'ensemble des cartes --------------------------------------------- */

.cards

{width:90%;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

/* ---------------------------------------------------------   chaque carte --------------------------------------------- */

.cards .card 

{    
    cursor: pointer;
padding : 15px;
width:100%;
color:black;
text-shadow: 0 0 0.1em white, 0 0 1em white, 0 0 0.5em white;
display:flex;
flex-direction: column;
align-items:center;
}

.carte1, .carte2, .carte3, .carte4, .carte5, .carte6, .carte7, .carte8{width: 30%;
    display:flex;
    justify-content: center;
    box-shadow:0 0 0.5em black, 0 0 5em black, 0 0 0.5em black; 
    border-radius: 10px;
background-color: #ffffff41;
margin:20px;}

/* ---------------------------------------------------------   l'image de chaqu'une des cartes --------------------------------------------- */
.cards .card img
{width : 80%;
    height: 260px;
border : 1px white solid;
}

/* ---------------------------------------------------------   entête de chaqu'une des cartes --------------------------------------------- */

.cards .card .card-header
{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-between;
    border-top : 1px black solid;
    margin-top: 10px;
}

/* -----------------------------------------   class à injecter en JS pour rendre visible les cartes --------------------------------------------- */
.rendrevisible
{visibility: visible;}

/* ---------------------------------------------------------   titre à l'interieur des cartes  --------------------------------------------- */
.titre 

{font-size: 35px;
margin :5px;
text-align : center;
font-family: 'Architects Daughter', cursive;

}

/* ---------------------------------------------------------   mettre les paragraphes des cartes à la ligne --------------------------------------------- */
p

{overflow : auto;}

/* ---------------------------------------------------------   rendre dynamique le passage de la souris sur les cartes----------------------------------- */
.cards .card:hover 
{color:black;
font-weight: bold;
border : black 2px solid;
box-shadow: 0 0 0.1em black, 0 0 1em black, 0 0 0.5em black;
}

/* ---------------------------------------------------------   ensemble des boutons "ajouter au panier" des cartes--------------------------------------- */

.panier1, .panier2, .panier3, .panier4, .panier5, .panier6, .panier7, .panier8

{text-shadow: 0 0 0.1em black, 0 0 1em black, 0 0 0.5em black;
    color: white;
text-align: center;
align-items: center;
display: flex;
margin: auto;
border-radius: 30px;
background:transparent;
border:1px solid black;
padding:10px;
cursor: pointer;
}

.product{padding-top:80px;}

.product .cards{margin: auto;}

.panier1:hover

{transform:scale(1.05)}
.panier2:hover

{transform:scale(1.05)}
.panier3:hover

{transform:scale(1.05)}
.panier4:hover

{transform:scale(1.05)}
.panier5:hover

{transform:scale(1.05)}
.panier6:hover

{transform:scale(1.05)}

.panier7:hover

{transform:scale(1.05)}

.panier8:hover

{transform:scale(1.05)}

.form_inscription{
    display:flex;
    justify-content: center;
    height:50%;
    width:100%;
    padding-top:250px
}

.form-signin{display:flex;
    align-items: center;
    color: white;
    flex-direction: column;
    width:20%;
    height:100%;
    padding:50px;
    border-radius: 30px;
    background-color : rgba(192, 192, 192, 0.52);
    box-shadow:0 0 0.5em black, 0 0 5em black, 0 0 0.5em black; 
}

.form-label-group{
    margin:15px;
    width:80%
}

.form-control{
    padding:15px;
    cursor:pointer;
    width:80%;
    border-radius:30px;
    border:none;
    box-shadow:0 0 0.5em black, 0 0 5em black, 0 0 0.5em black; 
}

.form-control:hover{transform: scale(1.05)}

    .btn-primary{   padding:15px;
        margin:15px;
        cursor:pointer;
        border:none;
        border-radius: 15px;
        box-shadow:0 0 0.5em black, 0 0 5em black, 0 0 0.5em black; }







@media (max-width: 1250px) {

    .carte1, .carte2, .carte3, .carte4, .carte5, .carte6, .carte7, .carte8{width:80%}

    .cards .card img{width:100%}

 }

 @media (max-width: 456px) {
.onglet a {font-size:0.8em}
nav .onglet{
margin:0}
.nav a{font-size:0.7em}
 }
