
  @import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);

  
  body{
    background: linear-gradient(rgb(235, 236, 231), rgb(255, 255, 255));
    width: 100%;
    margin:0px;
    font-family: 'Raleway', sans-serif;
  }

  .title{
    color: transparent;
    font-size:6vw;
    background: url("./images/fall-autumn-red-season.jpg") repeat;
    background-position: 40% 50%;
    -webkit-background-clip: text;
    line-height:90px;
    letter-spacing: -8px;
    padding:10px;
    text-shadow: black 0.1em 0.1em 0.3em
  }
  .subtitle{
    display:flex;
    justify-content: start;
    margin-left:50px;
    text-transform: uppercase;
  }

  .header__Left{
      display:flex;
      flex-direction:column;
      justify-content: center;
  }



  .allBox{
      display: flex;
      justify-content: space-around;
      align-content: center;
      height:30vw;
      width:100%;
      
  }

 
  @keyframes anim {
    0% {
      transform: translatey(1400px);
      opacity: 0;
  
    }


    100% {
      transform: translatey(0);
      opacity: 1;
   
    }
}


  .box1, .box2{width: 40%;
height:80%;
border-radius:10px;
box-shadow: 0 0 0.5em black, 0 0 5em black, 0 0 0.5em black;
border:2px solid black
}

.box1{background-image: url('./images/ph.jpg');
background-position: center;
background-size: cover;
animation-name: anim;
      animation-duration: 3s;
      transform:translatex(0px)}


@keyframes anim {
    0% {
      transform: translatex(-1400px);
      opacity: 0;
  
    }


    100% {
      transform: translatex(0);
      opacity: 1;
   
    }
}

.box2{background-image: url('./images/mobile-phone-smartphone-tablet-white-40739.jpeg');
    background-position: center;
    background-size: cover;
    animation-name: anim2;
    animation-duration: 3s;
    transform:translatex(0px)}


@keyframes anim2 {
    0% {
      transform: translatex(1400px);
  
    }


    100% {
      transform: translatex(0);
   
    }}


   
      

    .box1:hover, .box2:hover{box-shadow: 0.2em 0.2em 0.5em black, 0.2em 0.2em 5em black, 0 0 0.5em black;}



    nav{ width: 80%;
        font-size:1vw;}

    nav ul{display: flex;
    margin-bottom: 30px;
}

    nav ul li{
        padding-right : 50px;
        list-style-type: none;
        cursor: pointer;
        text-decoration: none;
color:black;

    }

    nav ul li a{color:black;
    text-decoration: none;
}

    li:hover{
        font-weight: bold;
    }

    header{ display:flex;
        justify-content: space-between;
        align-content:center;
    width:100%;
height:15vw;
margin-bottom:60px;
box-shadow: 0 0 0.5em black, 0 0 5em black, 0 0 0.5em black;}

    .contact{ display:flex;
        justify-content:flex-end;
        align-items:center;
        margin-right: 20px;
        height:100%;
    width:50%;
    font-size:1vw;}

    .contact a {color: black;
    text-decoration: none;}
    
    p{padding:5px;
    cursor:pointer}

    p:hover{font-weight: bold;}

    .ongletContact{text-align: center;
        width:100%
    }

    i{
        background-color:black;
        color:white;
        border-radius:50%;
        padding:15px
    }

    @media screen and (max-width: 1280px)
{

    body{
      overflow:visible;
        height:max-content;
      }

    .allBox{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; 
        height:60vw  ;
        
    }

    .box1, .box2{width: 80%;
        height:100%;
        margin-bottom: 30px;
        border-radius:10px;
        box-shadow: 0 0 0.5em black, 0 0 5em black, 0 0 0.5em black;
        border:2px solid black;
        animation:none
        }

        nav{font-size:1.8vw}

        .contact{font-size: 1.5vw}

        .title{font-size:6vw}
   
}



@media screen and (max-width: 860px)
{

   header{flex-direction: column;
height:40vw;
align-items: center;
padding-bottom:80px}

.title{
    font-size:10vw;
    padding:10px;
    text-shadow: black 0.1em 0.1em 0.3em
  }

  .allBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

nav{
    font-size: 2vw;
}

  
  nav{
      width:100%;
      justify-content:center
  }

  nav ul{
      justify-content: center;
  }

  .contact{margin:0px;
    width:100%;
font-size:2vw}

.header__Left{
    width:100%;
    align-items:center;
}

  
   
}

@media screen and (max-width: 520px)
{
    header{flex-direction: column;
        height:50vw;
        align-items: center;
        padding-bottom:100px}
        
        .title{
            font-size:15vw;
          
          }
        
          .allBox{

            height:120vw  
        }

        
        nav{
            font-size: 3vw;
        }
        
          .box1, .box2{
              height:100%
          
         
            }
        
          nav{
              width:100%;
              justify-content:center
          }
        
          nav ul{
              justify-content: center;
          }
        
          .contact{margin:0px;
            width:100%;
        font-size:3vw}
        
        .header__Left{
            width:100%;
            align-items:center;
        }


}