body{

background-color: black;
color: grey
}

main{height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.container
{ padding : 80px;
    border : 2px solid greenyellow;
    border-radius: 30px;
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
}

h1{padding-top: 2px;
    margin-top: 0px;
    color: greenyellow
}

.container a{
    text-decoration: none;
    color: grey
}

.container a:hover{
    color:white;
  text-shadow: 1px 1px 2px black, 0 0 1em greenyellow, 0 0 0.2em greenyellow;

}

.contact a{
    text-decoration : none;
    font-size: 2em
}
.contact a:hover{
    color:white;
  text-shadow: 1px 1px 2px black, 0 0 1em greenyellow, 0 0 0.2em greenyellow;

}





