
  @import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);

  
  body{
    background: black;
    width: 100%;
    margin:0px;
    font-family: 'Raleway', sans-serif;
    color:white
  }
  
  .buttonBox{
display: flex;
justify-content: center;

  }

  .buttonBox button a{
text-decoration: none;
color: white
  }

  .buttonBox button{
    margin:10px;
    font-size:1.2rem;
    background-color:black;
    color:white;
    border-radius : 10px;
    padding:5px 15px;
    border:1px white solid;
    font-weight: bold;
    text-transform:uppercase;
    font-family: sans-serif;
  }

  .titleHomePage{
    text-align: center;
    font-size:5rem;
    margin-bottom:15px;
  }

  .buttonBox button:hover{
    cursor:pointer;
    border: 2px white solid;
    color:lightblue
  }

  .title{
    color: transparent;
    font-size:6vw;
    background: url("./images/fall-autumn-red-season.jpg") repeat;
    background-position: 40% 50%;
    -webkit-background-clip: text;
    line-height:90px;
    letter-spacing: -8px;
    padding:10px;
    text-shadow: silver  0.1em 0.1em 0.3em
  }
  .subtitle{
    display:flex;
    justify-content: start;
    margin-left:50px;
    text-transform: uppercase;
  }

  .header__Left{
      display:flex;
      flex-direction:column;
      justify-content: center;
  }

  .listHomePage{
    margin-top:2px;
    margin-bottom:25px;
  }



  .allBox{
      display: flex;
      justify-content: space-around;
      align-content: center;
      height:30vw;
      width:100%;
      
  }

 
  @keyframes anim {
    0% {
      transform: translatey(1400px);
      opacity: 0;
  
    }


    100% {
      transform: translatey(0);
      opacity: 1;
   
    }
}


  .box1{width: 40%;
height:80%;
border-radius:10px;
border:2px solid white
}

.box1{background-image: url('./images/maximeb.JPG');
background-position: left;
background-size: cover;
animation-name: anim;
      animation-duration: 3s;
      transform:translatex(0px)}


@keyframes anim {
    0% {
      transform: translatex(-1400px);
      opacity: 0;
  
    }


    100% {
      transform: translatex(0);
      opacity: 1;
   
    }
}

.box2{
    animation-name: anim2;
    animation-duration: 3s;
    transform:translatex(0px)}


@keyframes anim2 {
    0% {
      transform: translatex(1400px);
  
    }


    100% {
      transform: translatex(0);
   
    }}


   
      

    .box1:hover, {box-shadow: 0.2em 0.2em 0.5em white, 0.2em 0.2em 5em white, 0 0 0.5em white;}



    nav{ width: 80%;
        font-size:1vw;}

    nav ul{display: flex;
    margin-bottom: 30px;
}

    nav ul li{
        padding-right : 50px;
        list-style-type: none;
        cursor: pointer;
        text-decoration: none;
color:white;

    }

    nav ul li a{color:white;
    text-decoration: none;
}

   
    header{ display:flex;
        justify-content: space-between;
        align-content:center;
    width:100%;
height:15vw;
margin-bottom:60px;
box-shadow: 0 0 0.5em white, 0 0 5em white, 0 0 0.5em white;}

    .contact{ display:flex;
        justify-content:flex-end;
        align-items:center;
        margin-right: 20px;
        height:100%;
    width:50%;
    font-size:1vw;}

    .contact a {color: white;
    text-decoration: none;}
    
    p{padding:5px;
    cursor:pointer;
  color:white}

    p:hover{font-weight: bold;}

    .ongletContact{text-align: center;
        width:100%
    }

    i{
        background-color:white;
        color:black;
        border-radius:50%;
        padding:15px
    }

    @media screen and (max-width: 1280px)
{

        .allBox{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; 
        height:100%  ;
        
    }

    .box1, .box2{width: 60%;
height: 100%;
        margin-bottom: 30px;
        border-radius:10px;
        box-shadow: 0 0 0.5em white, 0 0 5em white, 0 0 0.5em white;
        border:2px solid white;
        animation:none
        }

     

        .box1{
          height:100vh
        }

       

        nav{font-size:1.8vw}

        .contact{font-size: 1.5vw}

        .title{font-size:6vw}
   
}



@media screen and (max-width: 860px)
{
  .box2{
    padding:10px;
    width:85%
  }

  .box1{
    width:85%;
    height:15em
  }

.titleHomePage{
font-size:1.6rem
}

.buttonBox button{
  font-size:0.8rem
}



   header{flex-direction: column;
height:40vw;
align-items: center;
padding-bottom:80px}

.title{
    font-size:5rem;
    padding:10px;
    text-shadow: silver 0.1em 0.1em 0.3em
  }

  .allBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

nav{
    font-size: 1.5em;
}

  
  nav{
      width:100%;
      justify-content:center
  }

  nav ul{
      justify-content: center;
  }

  .contact{margin:0px;
    width:100%;
font-size:2vw}

.header__Left{
    width:100%;
    align-items:center;
}

  
   
}

@media screen and (max-width: 520px)
{
    header{flex-direction: column;
        height:50vw;
        align-items: center;
        padding-bottom:100px}
        
        .title{
            font-size:15vw;
          
          }
        
         

        
        nav{
            font-size: 1.1em;
        }
        
             
         
     
        
          nav{
              width:100%;
              justify-content:center
          }
        
          nav ul{
              justify-content: center;
          }
        
          .contact{margin:0px;
            width:100%;
        font-size:3vw}
        
        .header__Left{
            width:100%;
            align-items:center;
        }

        .box1, .box2{
          width:85%;
          height:15em
        }


}