

body


{
    background-image:url('./planette.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    height:100vh}

.bouttonAuCentre
{width: 100%;
    margin: 15px;
    padding: 0px;
display:flex;
justify-content: space-around;
align-items: center;

}

.divGeneral{
    height:100%;
background-color: transparent;
}

.boutton
{border: 3px solid rgb(146, 146, 146) ;
background-color: black;
width: 300px;
height: 100px;
border-radius: 30px;
font-size: 1.8em;
font-family: sans-serif;
cursor: pointer;
font-weight: bold;
color: white;

outline: none}

.boutton:hover
{transform: scale(1.05);}

.divGeneral

{display: flex;
flex-wrap: wrap;}

.divCreation {margin : 15px;
background-image:url('./png-clipart-spacecraft-cartoon-drawing-rocket-comics-orange.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
width:200px;
height : 200px;}

.nbClick, #timer

{ display: flex;
    justify-content: space-between;
    align-items: center;
    width : 400px;
height: 100%;
border : 2px solid white;
color:white;
padding: 10px;
font-weight: bold;
font-family: sans-serif;
}

#timer
{width : 200px;
    color: red;
    font-size: 4em;
    padding-top:20px;
    padding-bottom:20px;
    display: flex;
    justify-content: center;
}

.all{display:flex;
    justify-content: space-around;
width:70%}




h2
{
font-size: 4em;
color:red;}


h1{color: white;
    text-decoration: underline
   
}


@media (max-width: 750px) {


    .divCreation{width:50px;
        height:50px;}
        #timer{
            width : 50px;
            font-size: 2em;
        }
        .boutton
{

width: 120px;
height: 80px;
font-size: 1.2em;
}

.nbClick

{ display: flex;
    justify-content: space-between;
    align-items: center;
    width : 120px;
height:100px;
border : 2px solid white;
font-size: 0.5em;
color:white;
padding: 10px;
font-weight: bold;
font-family: sans-serif;}

.bouttonAuCentre

{width: 100%;
    margin: 15px;
    padding: 0px;
display:flex;
flex-direction: column;

align-content: center;

}

 }

 