

body

{background-color: lightgrey;}

.bouttonAuCentre
{width: 100%;
    margin: 15px;
    padding: 0px;
display:flex;
justify-content: space-around;
align-items: center;

}

.boutton
{border: 1px solid rgb(146, 146, 146) ;
background-color: rgb(168, 168, 168);
width: 300px;
height: 100px;
border-radius: 30px;
font-size: 1.8em;
font-family: sans-serif;
cursor: pointer;
font-weight: bold;
color: rgba(255, 255, 255, 0.568);

outline: none}

.boutton:hover
{transform: scale(1.05);}

.divGeneral

{display: flex;
flex-wrap: wrap;}

.divCreation {margin : 15px;
    background-color: rgba(0, 0, 255, 0.431);
width:200px;
height : 200px;
border-radius: 50%;}

.nbClick, #timer

{ display: flex;
    justify-content: space-between;
    align-items: center;
    width : 400px;
height: 100%;
border : 2px solid rgba(0, 0, 255, 0.431);
padding: 10px;
font-weight: bold;
font-family: sans-serif;
}

#timer
{width : 200px;
    color: red;
    font-size: 4em;
    padding-top:20px;
    padding-bottom:20px;
    display: flex;
    justify-content: center;
}




h2
{
font-size: 4em;
color:red;}


h1{color: rgba(0, 0, 255, 0.431);
    text-decoration: underline
   
}


 