<%- include('./partials/header') %>


<div class="error">
    <div class="error_link">
<h1>Contact :</h1>
<h2> 02 32 21 48 57</h2>
<h2><a href="mailto:neige@gmail.com">neige@gmail.com</a></h2>
<h3><a href="/">Revenir à l'acceuil</a></h3>

</div>
</div>

</body>
</html>