<%- include('./partials/header') %>

<div class="error">
    <div class="error_link">
<h1>Merci de vous connecter pour pouvoir réserver</h1>
<a href="/signup">Inscritpion</a>
<a href="/login">Connection</a>
</div>
</div>

</body>
</html>
