<%- include('./partials/header') %>


<div class="error">
    <div class="error_link">
<h1>Merci pour votre demande, Nous revenons rapidement<br>
     vers vous pour confirmer votre réservation</h1>
<h3><a href="/">Revenir à l'acceuil</a></h3>

</div>
</div>



<script src="/js/acceuil.js"></script> 
</body>
</html>