<%- include('partials/header') %>

<div class="form_inscription">
    

<form action="/signup" method="POST" class="form-signin">

    <div class="form-label-group">
        <input type="lastname" class="form-control" id="lastname" name="lastname"
            aria-describedby="lastnameHelp" placeholder="Votre nom">
    
    </div>

    <div class="form-label-group">
        <input type="firstname" class="form-control" id="firstname" name="firstname"
            aria-describedby="firstnameHelp" placeholder="Votre prénom">
 
    </div>

    <div class="form-label-group">
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
            placeholder="Votre courriel">

    </div>

    <div class="form-label-group">
        <input type="password" class="form-control" id="password" name="password"
            placeholder="Votre mot de mot de passe">
      
    </div>


    <div class="form-label-group">
        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm"
            placeholder="Confirmez votre mot de passe">
      
    </div>

    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </div>
</form>

</div>

<% if(locals.errors) { %>
<div style="text-align:center;color:red">
    <% for(const error of locals.errors) { %>
        <p><%= error %></p>
    <% } %>
</div>
<% } %>

<%- include('partials/footer') %>