@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lobster&display=swap');

body
{   margin : 0;
padding : 0;
width:100%;
font-family: 'Playfair Display', sans-serif;
background-color: silver;}

/* Navigation */
nav
{border-left: 2px grey solid;
  border-right: 2px grey solid;
  display : flex;
  width:100%;
flex-wrap : wrap;
justify-content: center;
align-items: center;
border-bottom: 2px black solid;
border-top: 2px black solid;
padding-top: 0px;
padding-bottom : 0px;}


#blocpage{width:100%;
}


/* Titre à gauche / Navigation */
nav h1

{font-family: "Birthstone";
font-size: 55px;
color : black;}

/* Navigation onglet */

nav .onglet

 {   margin-top: 0px;
 margin-left: 600px;
 font-size: 20px;
 width: 50%;
}

nav .onglet li 

{   display:flex;
  list-style: none ;
margin-right: 20px;
font-family: "Architects";
color: black;
background: linear-gradient(white, pink);
text-decoration: none;
  border : 2px solid black;
  border-radius: 150px;
  padding-bottom: 2px;
  padding-top: 2px;
padding-right :  15px;
padding-left:  15px;
width:10%}

/* Tête de page */

header

{display:flex;
flex-direction: column;
align-items: center;
background: url("image/macaron.jpg");
background-repeat : no-repeat;
background-size: cover;
padding: 10px;
border-bottom: 2px black solid;}

header h1

{font-family: "Birthstone";
font-size : 80px;
margin-top: 14px ;}

header h4

{ color:grey;
margin-top: -80px;
margin-left: 150px
}

/* Bande Défilante */

.images

 {display : flex;
  animation-duration: 40s;
  animation-name: mesimages ;
  animation-iteration-count: infinite;
  }

#defil

{ 
  width: 1700px;
height: 431px;
margin-left: 0px;
margin-right: 0px;
overflow: hidden;
border : 2px black solid;}

/* Texte */

article

{display:flex;
margin-bottom: 40px;}




article h1

{margin-left: 20px;}



.choix1

{

width: 50px;
height: 50px;
margin-left: 30px;
}

.choix

{

width: 50px;
height: 50px;
margin-left: 30px;
}



h4

{margin-top: -30px;
margin-left: 30px;}

@media screen and (max-width:600px;)
{nav .onglet
margin-left: 0px;
margin-botom: 20px;}

@keyframes mesimages {

0% {transform: translateX(0);}
20% {transform: translateX(-330px);}
30%{transform: translateX(-660px);}
40%{transform: translateX(-990px);}
50%{transform: translateX(-1350px);}
60%{transform: translateX(-1350px);}
70%{transform: translateX(-990px);}
80%{transform: translateX(-660px);}
90%{transform: translateX(-330px);}
100%{transform:translateX(0);}


}

#trait_dessus
{
 background-color: pink;
 border-bottom: 1px solid pink;
} 

#trait_dessous
{
 background-color: pink;
 border-top: 1px solid black;
 border-left: 1px solid grey;
 border-right: 1px solid grey;
  height: 8px;
 
} 

#recherche
{text-align: center;
  font-family: "Architects";
border-bottom: 2px black solid ;}


#ecrire

{background-color: white;
   margin-top : 30px;
  margin-left : 300px;
   align-items: center;
  border-radius: 10px;
  position : absolute;
  padding-left: 300px;
  padding-right: 300px;
padding-top: 30px;
padding-bottom: 30px;
border: 1px solid black;}

#ecrire h1
{color : black;
  font-family: "Lobster";
text-align: center;}

form .separation1
{ width: 100%;
height : 2px;
background-color : grey }

form .corps-formulaire
{
  display:flex;
  flex-wrap: wrap;
  margin-bottom : 30px;
}

form .corps-formulaire .groupe

{ position : relative;
  margin-top: 20px;
display : flex;
flex-direction: column;}

form .corps-formulaire .gauche .groupe input

{margin-top : 5px;
padding : 10px 5px 10px 30px ;
border: 2px solid black;
outline-color : black;
border-radius : 5px; }

form .corps-formulaire .gauche .groupe i

{ position : absolute;
  left : 0;
  top : 25px;
  padding : 9px 8px;
  color : black;
}

form .corps-formulaire .droite
{ margin-left : 60px;
}
form .corps-formulaire .droite .groupe

{height : 100%; 
}

form .corps-formulaire .droite .groupe textarea 
{margin-top: 5px;
padding: 10px;
background-color: #f8f8f8 ;
border : 2px solid pink;
border-radius : 5px;
outline: none;
resize : none;
height : 72%}

form .pied-formulaire button {
  display: flex;
  margin-top : 10px;
  border-radius : 5px;
  border : none;
  background-color : pink;
  padding: 10px 20px;
  font-size: 15px;
  font-family: "Architects";
  cursor:pointer;
  margin-left : 140px;
 


}

form .pied-formulaire button:hover {
transform: scale(1.05)
}

#magie

{
  background : pink ;
border : 1px solid black;
margin-left : 600px;
width : 990px;
height: 460px;
padding : 10px;
margin-top: -490px;
}

.separation2

{ width: 85%;
  height : 1px;
  background-color : grey; 
margin-left: 60px;}

  #magie h1

  {font-family: "Lobster";
  text-align: center; 
margin-top : 45px}

  #magie h3

  { text-align: center;
    font-size: 18px;
    font-family: "Architects";
    margin-bottom : 500px;
  color : black }

  #logo

  {border : 1PX black solid;
    width : 500px;
height: 460px ;
margin-left: 30px;
padding : 10px;}

